<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="cpe_devEntities" connectionString="metadata=res://*/DataAcess.Cpe_Model.csdl|res://*/DataAcess.Cpe_Model.ssdl|res://*/DataAcess.Cpe_Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=wh-fw-srv-510.vlt.pg.com;initial catalog=cpe_dev;persist security info=True;user id=cpe_dev;password=iF8GYoqHR,3G)Z;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="cpe_devEntities1" connectionString="metadata=res://*/DataAcess.Cpe_Model.csdl|res://*/DataAcess.Cpe_Model.ssdl|res://*/DataAcess.Cpe_Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=wh-fw-srv-510.vlt.pg.com;initial catalog=cpe_dev;persist security info=True;user id=cpe_dev;password=iF8GYoqHR,3G)Z;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>